.nav-wrapper {
    background-color: #334b48;
}

.center {
  margin-top: 80px;
  align-content: center;
}


.col {
    height: 100%;
    margin-top: 15px;
}

.card {
  margin-bottom: 30px;
}
.search-section {
  width: 70%;
  margin: 50px auto;
}
.load-more {
  margin: 20px auto 50px;
  display: flex;
}
.btn-lg {
  margin: auto;
}

.actor {
  height: 300px;
}

.load {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 30%;
}

.movie-bg {
  height: 95vh;
  background-size: cover;
}

.movie-container {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin: auto;
  width: 80%;
  height: 90vh;
}

.card-image {
  height: 450px;
}

.tag {
  font-weight: bold;
  text-transform: uppercase;
}

.movie-info {
  padding: 10px;
  height: 800px;
}

.poster {
  height: 85vh;
}

.box {
    border: 2px solid black;
    padding: 10px;
    width: 50%;
}

.hero {
    height: 90vh;
    display: flex;
    padding-left: 30px;
    background-position: top !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom: 100px;
  }
  .hero-inner {
    width: 60%;
    margin-top: 45vh;
  }
  .main-line {
    color: #fff;
    font-size: 4em;
  }
  .secondary-line {
    font-size: 1.3em;
    color: #c3c6c8;
  }